$dark-grayish-magenta: hsl(303, 10%, 53%);
$light-grayish-magenta: hsl(300, 24%, 96%);
$soft-pink-opac: rgba(238, 104, 164, .18);
$soft-pink: hsl(333, 80%, 67%);
$very-dark-magenta: hsl(300, 43%, 22%);
$white: hsl(0, 0%, 100%);

@mixin for-desktop-only {
    @media screen and (min-width: 1440px){
        @content;
    }
}

*{
    box-sizing: border-box;
    
}

body{
    font-family: 'Spartan', sans-serif;
    font-weight: 400; 
    
    @include for-desktop-only {
        background-image: url(../images/bg-pattern-top-desktop.svg),
                        url(../images/bg-pattern-top-desktop.svg);
        background-repeat: no-repeat;
        background-size: cover;

    }
}

@import 'component';